<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>User</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
        <h1>Scrapy Meal</h1>
    </div>

    <div class="topnav">
        <a href="{{ url_for('home') }}">HOME</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Our suggestions</h2>

                <br />
                <h5>Total difference : {{ show[0] }}</h5>
                <h5>Available at M&M : {{ show[1] }}</h5>
                <h5>Available at Aldi : {{ show[2] }}</h5>
                <br />

                <div id='chart' class='chart'></div>

                <br />
                {% for table in tables %}
                {{ table|safe }}
                {% endfor %}


            </div>
        </div>

    </div>

    <div class="footer">
        <h2>ESILV - Webscrapping and Data processing - 2022/2023</h2>
    </div>

</body>
</html>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
</script>