<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>User</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="header">
        <h1>Scrapy Meal</h1>
    </div>

    <div class="topnav">
        <a href="{{ url_for('home') }}">HOME</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div id="first" class="card">
                <h2>List of ingredients</h2>

                <br />

                <form class="inputs" action="{{ url_for('scrap_market')}}" method="post" onsubmit="document.getElementById('second').style.display = '';">

                    {% for table in tables %}
                    <div class="checks">
                        <input type="checkbox" id="id_{{table}}" name="ids" checked value="{{table}}">
                        <label for="id_{{table}}">{{table}}</label>
                    </div>
                    {% endfor %}

                    <h5>type-in your address </h5>
                    <div>
                        <input type="text" name="location" id="location" placeholder=" ex : Nanterre" autocomplete="off" required />
                    </div>
                    <br />

                    <h5>type-in your fuel conso for 100km </h5>
                    <div>
                        <input type="number" name="conso" id="conso" min=1 max=50 placeholder=" ex : 5" autocomplete="off" required />
                    </div>
                    <br />


                    <label for="fuel">Choose a fuel:</label>
                    <select name="fuel" id="fuel" required>
                        {% for f in fuel %}
                        <option value="{{f[1]}}">{{f[0]}} todays price : {{f[1]}} €</option>
                        {% endfor %}
                    </select>
                    

                    <button type="submit">GO</button>
                </form>

            </div>
            <div class="card" id="second" style="display:none;">
                <h2>It can take several minutes to run</h2>
                <br />
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
                <div class="bar bar4"></div>
                <div class="bar bar5"></div>
                <div class="bar bar6"></div>
                <div class="bar bar7"></div>
                <div class="bar bar8"></div>
            </div>
        </div>

    </div>

    <div class="footer">
        <h2>ESILV - Webscrapping and Data processing - 2022/2023</h2>
    </div>
</body>
</html>
